/* Alfa Slab One - font-family: 'Alfa Slab One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* Alex Brush - font-family: 'Alex Brush', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

/* Nunito - font-family: 'Nunito', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
    --background-color: black;
    --width: 1280px;
    --heading-font: 'Alfa Slab One', cursive;
    font-size: 18px;
    --light-blue: #93BEFF;
    --dark-blue: #11428D;
    --mint: #7CB2A2;
    --dark-mint: #699582;
    --other-font: 'Nunito', sans-serif;
    overflow-x: hidden;
}

header {
    padding: 20px;
    max-width: var(--width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 450px 1fr;
}

.headerImage {
    border-top: 2px solid #93BEFF;
    border-bottom: 2px solid #93BEFF;
    filter: drop-shadow(5px -5px 10px rgba(90, 164, 248, 0.904));
    z-index: 1;
}

/* Desktop/Large Screen Version */

/* Skip Content Button */
body {
    background-color: black;
    color: white;
    margin: 0 auto;
}

body #skipContent {
    position: absolute;
    color: white;
    background-color: var(--dark-mint);
    padding: 50px 10px 30px 10px;
    margin-left: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--other-font);
    transform: translateY(-100%);
    margin-top: 0px;
}

body #skipContent:hover {
    background-color: var(--mint);
    filter: drop-shadow(3px 0px 10px rgb(90, 248, 227));
}

body #skipContent:focus {
    left: 0px;
    transform: translateY(0%);
}

h1 {
    display: none;
}

h2 {
    font-size: 2rem;
    font-family: var(--heading-font);
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0px;
}

h3 {
    font-size: 1.5rem;
    font-family: var(--heading-font);
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-family: 'Nunito', sans-serif;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 0px;
    padding-left: 500px;
}

nav ul li {
    list-style-type: none;
    font-size: 20px;
    margin-right: 20px;
}

nav ul li a {
    background-color: var(--dark-mint);
    font-family: var(--heading-font);
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 40px;
    color: white;
    margin: 0 auto;
}

nav ul li a:hover {
    filter: drop-shadow(3px 0px 10px rgb(90, 248, 227));
    background-color: var(--mint);
}

.active {
    background-color: var(--mint);
    filter: drop-shadow(3px 0px 10px rgb(90, 248, 227));
}

header a img {
    filter: drop-shadow(3px 0px 15px rgba(90, 164, 248, 0.904));
    grid-column: 1 / 2;
}

.tagline {
    background-color: var(--dark-blue);
    margin-top: -5px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Main Section */
main {
    display: block;
    margin: 0 auto;
    padding: 0px;
}

main section img, main section section img {
    border: 2px solid #93BEFF;
    filter: drop-shadow(3px 0px 15px rgba(90, 164, 248, 0.904));
}

/* Possie Section */
.possie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: var(--width);
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
}

.possie h2 {
    grid-column: 2 / 3;
    color: var(--mint);
    margin-top: 150px;
}

.possie p {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    margin-top: 0px;
}

.possie p ~ p {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    margin-top: 75px;
}

.possie img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

/* Discount Section */
.discount {
    margin: 0 auto;
    width: var(--width);
    text-align: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

.discount form {
    display: flex;
    flex-direction: column;
}

.discount h2 {
    color: var(--mint);
}

.discount .guessingGame label {
    font-family: var(--other-font);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.discount .guessingGame input {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.guessingGame {
    display: block;
}

.guessingGame input#submitButton {
    margin-top: 30px;
    width: 250px;
}

/* Grub Section - Popular Menu Items */
.grub {
    background-color: var(--dark-blue);
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;
}

.grub h2 {
    grid-column: 1 / 4;
}

.grub h2, .grub section h3 {
    text-align: center;
    margin-top: 0px;
}

.grub section h3 {
    margin-top: 0px;
}

.grub section p {
    text-align: justify;
}

.grub section {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.grub section .section1 {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.grub section .section2 {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}

.section3 {
    grid-column: 3 / 4;
    grid-row: 2 / 2;
}

.grub section section {
    display: grid;
    text-align: center;
}

.grub section img {
    margin: 0 auto;
}

.grub a {
    padding: 20px 40px;
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    background-color: var(--dark-mint);
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--heading-font);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    border-radius: 50px;
}

.grub a:hover {
    background-color: var(--mint);
    filter: drop-shadow(3px 0px 10px rgb(90, 248, 227));
}

/* Motorcycle Picture Section */
.bikers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: var(--width);
}

.bikers h2 {
    grid-column: 1 / 3;
    height: 50px;
}

.bikers img {
    width: 500px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin: 0 auto;
}

.bikers h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: var(--mint);
    margin-top: 250px;
    margin-bottom: 0px;
}

.bikers p {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-top: 325px;
}

.bikers p ~ p {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-top: 425px;
    font-size: 14px;
}

span {
    color: gold;
}

/* Vampire paragraphs */
p span {
    color: red;
}

/* Owner Information Section */
.owner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: var(--width);
}

.owner h2, .owner h3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    color: var(--mint);
    height: 50px;
}

.owner h2 {
    margin-top: 175px;
}

.owner h3 {
    margin-top: 225px;
}

.owner p {
    margin-top: 275px;
}

.owner img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    margin: 0 auto;
}

.owner p {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

/* Form Section */
.contact {
    margin: 0 auto;
    padding: 50px;
    background-color: var(--dark-blue);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    max-width: var(--width);
}

.contact h2 {
    color: var(--mint);
    text-align: center;
}

.contact p {
    text-align: center;
}

form label, form input {
    display: block;
    width: 95%;
}

form label {
    font-family: var(--other-font);
    font-weight: 400;
}

form input {
    padding: 10px;
    font-size: 18px;
    border: 2px solid var(--light-blue);
}

label[for="fullName"] {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    padding-bottom: 20px;
}

input[id="fullName"] {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    margin-top: 25px;
}

label[for="phone"] {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    padding-top: 10px;
}

input[id="phone"] {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    margin-top: 35px;
}

label[for="email"] {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    margin-top: 0px;
}

input[id="email"] {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    margin-top: 25px;
}

fieldset {
    display: flex;
    border: none;
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    margin-top: 10px;
}

fieldset legend {
    margin-left: -15px;
    margin-top: 10px;
    font-family: var(--other-font);
}

input[type="radio"] {
    display: inline;
    width: 80px;
}

input[type="radio"], label[for="selectedPhone"], label[for="selectedEmail"] {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

label[for="selectedPhone"], label[for="selectedEmail"] {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
}

label[for="comments"] {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
    margin-top: 10px;
}

input[id="comments"] {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
    margin-top: 35px;
    margin-bottom: 20px;
    width: 97.5%;
}

input[type="submit"] {
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-family: var(--heading-font);
    font-weight: 100;
    border: none;
    border-radius: 50px;
    padding: 20px 40px;
    background-color: var(--dark-mint);
    grid-column: 1 / 3;
    grid-row: 5 / 5;
    width: 200px;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: var(--mint);
    filter: drop-shadow(3px 0px 10px rgb(90, 248, 227));
    border: none;
}

/* Styling for Errors on form */
.hide {
	display: none;
}

#errorList {
    color: gold;
    grid-column: 1 / 3;
    grid-row: 4 / 4;
}

#emailError {
    color: gold;
}

input.error  {
   border: 2px solid gold;
}

input[type=text], input[type=email] {
   padding: 8px;   
   border: 1px solid #aaa;
   border-radius: 4px;
   box-sizing: border-box;
}

/* Footer */
footer {
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer small, footer p, footer address {
    font-size: 0.75rem;
}

footer .address {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
}

footer .address h4 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 1rem;
    font-family: var(--other-font);
}

footer .address p {
    margin-top: 10px;
}

footer small {
    margin-top: 35px;
    font-family: var(--other-font);
}

footer p {
    margin-top: 55px;
}

footer small, footer p {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
}

footer .hours h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1rem;
    font-family: var(--other-font);
}

footer .hours p {
    margin-top: 10px;
}

/* Light/Dark Mode icon */
#clickme, #image {
    position: absolute;
    right: 75px;
    top: 30px;
}

#clickme {
    position: absolute;
    margin-top: -40px;
}

#image {
    margin-top: 30px;
}

/* Light Mode */
body.light-mode {
    background-color: #fff;
    color: #000;
}

body.light-mode .headerImage {
    filter: none;
    border-top: 2px solid #93BEFF;
    border-bottom: 2px solid #93BEFF;
}

body.light-mode header img {
    filter: none;
}

body.light-mode .active {
    background-color: var(--dark-mint);
}

body.light-mode header nav ul li a {
    filter: none;
}

body.light-mode header nav ul li a:hover {
    background-color: #93BEFF;
    color: white;
}

body.light-mode .tagline {
    color: black;
    background-color: #93BEFF;
}

body.light-mode .possie img {
    filter: drop-shadow(3px 0px 10px rgb(0, 0, 0));
}

body.light-mode .grub {
    background-color: #93BEFF;
}

body.light-mode .grub section img {
    filter: drop-shadow(3px 0px 10px rgb(0, 0, 0));
    border: 2px solid #7CB2A2;
}

body.light-mode .grub a {
    filter: none;
}

body.light-mode .grub a:hover {
    filter: none;
}

body.light-mode .bikers img, body.light-mode .owner img {
    filter: drop-shadow(3px 0px 10px rgb(0, 0, 0));
}

body.light-mode .contact {
    background-color: #93BEFF;
}

body.light-mode .contact h2 {
    color: black;
}

body.light-mode .contact input[type="submit"]:hover {
    filter: none;
}

body.light-mode footer {
    background-color: #135ECF;
    color: white;
}

body.light-mode .discount #submitButton:hover {
    filter: none;
    background-color: #93BEFF;
}

body.light-mode .contact span, body.light-mode #errorList {
    color: red;
}

/* Color of error message for number 'discount' generator */
#message {
    color: red;
}

@media screen and (min-width: 500px) {
    /* Mobile Version */
    #skipContent {
        align-items: center;
    }

    header {
        display: grid;
    }

    nav {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        padding-top: 10px;
    }

    nav ul {
        padding: 0px;
    }

    nav ul li {
        font-size: 0.75rem;
        margin: 0px;
        padding: 0px;
    }

    nav ul li a {
        padding: 10px 15px;
    }

    header a img {
        width: 175px;
        height: 75px;
        right: 0;
    }

    header > a {
        width: 175px;
    }

    #image {
        margin-top: 0px;
        position: absolute;
    }

    #clickme {
        right: 0;
        margin-right: -40px;
    }

    .headerImage {
        width: 100vw;
    }

    .tagline {
        font-size: 1rem;
        margin-bottom: 0px;
    }

    .possie {
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .possie h2 {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5rem;
        justify-content: center;
    }

    .possie img {
        width: 300px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .possie p, .possie p ~ p {
        margin: 0px;
    }

    .possie p ~ p {
        margin-top: 20px;
    }

    /* Discount Generator Section - Mobile Version */
    .discount {
        width: 100vw;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .discount h2 {
        font-size: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        padding-right: 40px;
        padding-left: 40px;
    }

    .discount form {
        margin-left: auto;
        margin-right: auto;
    }

    .guessingGame {
        width: 90vw;
        margin-left: 0px;
        margin-right: 0px;
    }

    /* Grub Section - Mobile Version */
    #grub.grub {
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        flex-direction: column;
    }

    .grub h2 {
        height: 40px;
        font-size: 1.5rem;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 0px;
        padding-bottom: 0px;
    }

    #grub h3 {
        margin-right: 0px;
        margin-left: 0px;
    }

    .grub {
        display: flex;
    }

    #grub .section1 {
        padding: 0px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #grub .section1 img {
        width: 300px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .grub section p {
        text-align: justify;
    }

    .grub .section2 {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 30px;
    }

    #grub .section2 img {
        width: 300px;
        height: 350px;
    }

    #grub .section3 {
        padding: 0px;
    }

    #grub .section3 img {
        width: 300px;
        height: 320px;
    }

    .grub a {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    /* Bikers Section */
    .bikers {
        display: flex;
        flex-direction: column;
        padding: 40px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .bikers h2 {
        display: flex;
        margin-top: 0px;
        justify-content: center;
    }

    .bikers img {
        width: 70vw;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bikers p {
        margin-top: 20px;
        text-align: justify;
    }

    .bikers p ~ p {
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }

    /* Owner Section - Mobile Version */
    .owner {
        display: flex;
        flex-direction: column;
        padding: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .owner h2 {
        margin: 0px;
        display: flex;
        justify-content: center;
    }

    .owner h3 {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .owner img {
        width: 70vw;
    }

    .owner p {
        margin-top: 30px;
        margin-bottom: 0px;
        text-align: justify;
    }

    /* Contact Us Section - Mobile Version */
    .contact {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .contact h2 {
        margin-bottom: 0px;
    }

    form#fullForm {
        margin: 0px;
    }

    #fullForm {
        display: flex;
        flex-direction: column;
    }

    #fullForm label {
        padding-bottom: 0px;
    }

    input[id="fullName"], input[id="phone"], input[id="email"], input[id="comments"] {
        margin-top: 10px;
        width: 100%;
    }

    label[for="email"] {
        margin-top: 10px;
    }

    /* Footer - Mobile */
    footer {
        display: block;
        padding: 20px;
    }

    footer p {
        margin: 0px;
    }

    footer .address h4, footer .hours h4 {
        font-size: 0.75rem;
    }

    footer .address, footer .hours {
        margin-top: 40px;
    }
}

/* Medium Screen Sizes - Tablet Version */
@media screen and (min-width: 750px) {
    /* logo */
    header {
        display: grid;
        grid-template-columns: 1fr 300px 1fr;
    }

    header a img {
        width: 100%;
        height: 80%;
    }

    /* Navigation */
    nav {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        padding-top: 0px;
        display: grid;
    }

    nav ul {
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0px;
        width: 48vw;
    }

    nav ul li {
        margin-left: 0px;
        margin-bottom: 10px;
        margin-top: 0px;
        margin-right: 0px;
        display: grid;
        text-align: center;
    }

    nav ul li a {
        padding: 10px 20px;
        margin-right: 10px;
        margin-left: 10px;
    }

    /* Light/Dark Mode Icons */
    img#image {
        margin-top: 0px;
    }

    /* Footer - Tablet sizes */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer small, footer p {
        grid-column: 1 / 2;
    }

    footer small {
        margin-top: 10px;
    }

    footer p {
        margin-top: 35px;
    }

    footer .address {
        grid-column: 2 / 3;
        margin-top: 10px;
    }

    footer .hours {
        grid-column: 3 / 4;
        margin-top: 0px;
    }

    footer .address h4, footer .hours h4 {
        margin-top: 0px;
    }
}

@media screen and (min-width: 1280px) {
    /* header - desktop */
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* navigation - desktop */
    nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        width: auto;
        margin-left: 15px;
    }

    nav ul li {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        margin-left: 20px;
        margin-bottom: 0px;
    }

    nav ul li a {
        padding: 20px 40px;
    }

    /* light/dark mode icons */
    #image {
        margin-right: auto;
    }

    /* Possie section desktop */
    .possie {
        display: grid;
        margin-top: 50px;
    }

    .possie h2 {
        margin-top: 50px;
    }

    .possie p ~ p {
        margin-top: 75px;
    }

    /* Grub section */
    .grub#grub {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr 85px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #grub .section1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .section1 p, .section2 p, .section3 p {
        width: 28vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #grub .section2 {
        margin-bottom: 0px;
    }

    #grub .section2 p {
        margin-bottom: 0px;
    }

    #grub .section3 > img {
        width: 350px;
        height: 350px;
    }

    /* Bikers section desktop */
    .bikers {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bikers h2 {
        display: block;
        margin-top: 175px;
        margin-bottom: 50px;
        text-align: center;
    }

    .bikers p {
        margin-top: 250px;
    }

    .bikers p ~ p {
        margin-top: 350px;
    }

    .bikers img {
        width: 350px;
    }

    /* Owner section desktop */
    .owner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 50px;
    }

    .owner h2 {
        margin-top: 125px;
    }

    .owner h3 {
        margin-top: 185px;
    }

    .owner img {
        width: 350px;
    }

    .owner p {
        margin-top: 250px;
    }

    /* contact form */
    .contact {
        display: flex;
        align-items: center;
        max-width: 98vw;
    }

    form#fullForm {
        width: 1280px;
    }

    fieldset {
        display: flex;
        width: 20vw;
    }
}